@font-face {
	font-family: "SVN-Agency";
	src: url("../fonts/SVN-Agency FB bold.ttf")
	format('truetype');
	font-display: swap;
}
@font-face {
	font-family: "SVN-Redressed";
	src: url("../fonts/SVN-Redressed.ttf")
	format('truetype');
	font-display: swap;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-color: #f2f6f9;
}
#collapseSearch{
    position: fixed;
    width: 100%;
    z-index: 111;
}
.form-control::-webkit-input-placeholder { /* Edge */
    color:red;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:red;
}
.form-control::placeholder {
    color:red;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}
.bg-light, .bg-light-strip:nth-child(odd){
    background-color: #F1F7FA!important;
}
.input-group.input-group-search select.form-select.select-nd{ width: 110px;}
.input-group.input-group-search select.form-select.select-khoa{ width: 110px;}
#totop{
    cursor: pointer;
}
.totop-wrap{
    height: 60px;
}
h3.green-title{
    font-weight: 600;
    color: #6BB885;
    font-size: 30px;
}
a.h5{
    display: block;
    text-decoration: none;
    color: unset;
}
h5 a{
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
}
#liveToast.toast {
    background-color: #ffffff;
}
.fc-2{
    color: #1C508A;
}
.fc-3{
    color:#F15A24;
}
.fs-7{
    font-size: 10px;
}
.fs-8{
    font-size: 12px;
}
.fs-9{
    font-size: 13px;
}
.text-indent{
    text-indent: 2rem;
}
.thumb-ver{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    outline: 5px solid #fff;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    border: 5px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.text-secondary{
    color:#4D4D4D
}
.top-bar{
    padding-top: 12px;
    padding-bottom: 11px;
    border-bottom: 1px solid #fff;
    background-color: #99d4d3;
}
.top-bar a{
    text-decoration: none;
    color:#333333;
    font-size:14px;
}
  .side-navbar {
    display: block;
     width: 100%;
    height: 100%;
    position: fixed;
    margin-left: calc(1200px);
    background-color: rgba(0, 0, 0, 0.95);
    transition: 0.5s;
    top:0;
    z-index: 999999999999999;
  }
  .side-navbar .navbar{
    background-color: transparent;
    padding: 60px 40px;
  }

  .my-container {
    transition: 0.4s;
  }

  .active-nav {
    margin-left: 0;
  }

  /* for main section */
  .active-cont {
    margin-left: 180px;
  }

  #menu-btn {

  }


.main-header{
    padding-bottom: 0;
}
.navbar{
    background-color: #fff;
}
.navbar-brand {
    max-width: calc(100% - 73px);
}
.main-navbar .nav-link{
    font-family: "SVN-Agency", sans-serif;
    font-size: 18px;
    line-height: 38px;
    text-transform: uppercase;
    color: #1B4D89;
}
.side-navbar .nav-link{
    font-family: "SVN-Agency", sans-serif;
    font-size: 24px;
    line-height: 38px;
    text-transform: uppercase;
    color: #91b1d8;
    padding-left: 20px;
}
.side-navbar .btn-close{
    color: #fff;
    font-size: 32px;
    width: 32px;
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1;
    opacity: 0.8;
}
.main-navbar li >.btn{margin-top: 7px;font-family: "SVN-Agency";}
.navbar-light .navbar-nav .nav-link {
    color: #4D4D4D;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #1B4D89;
}
.dropdown-menu{
    border-radius: 0 ;
}
.navbar-expand-xl .navbar-nav .nav-link{
    padding: 6px 15px;
}
.main-navbar .nav-link.active{
    color: #fff;
}
.main-navbar .btn{
    padding: 4px 22px;
    border-radius: 5px;
    border: 1px solid #1B4D89;
    color: #1B4D89;
}
.main-navbar .badge{
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    padding: .35em .35em;
    top: 5px;
}
.icon_ice{
    width: 38px;
}
p.pre-format{
    white-space: pre-line;
}
.portrait-frame::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/frame.png");
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.border-bottom-bold{
    border-bottom:3px solid #1C508A;
}
path { fill: currentColor; }
.main-navbar .btn.btn-outline-dark:hover {
    background-color: #f2fdff;
    color: #1B4D89;
}
.bg-dark-blue{
    background-color: #1B4D89;
    color: #fff;
}
.bg-info{
    background-color:#99D4D3!important;
}
.image-thumb{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: 50% 50%;
    outline: 5px solid #fff;
    margin-top: 10px;
}
.post-format img{
    max-width: 100%;
    height: auto;
}
.thumb-ver{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    outline: 5px solid #fff;
}
.px-12{
    padding-left: 12px;
    padding-right: 12px;
}
.text-md{
    font-size: 20px;
}
.form-control{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    padding: 11px 12px;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}
.underline-p{
    border-bottom:1px solid #B3B3B3;
}
.lh-07{
    line-height: 0.7;;
}
.btn.btn-sm {
    padding: .25rem .75rem;
    font-size: 16px;
}
.form-control.form-control-sm {
    padding: 0px 12px;
    line-height: 22px;
}

.form-control.form-control-with-icon{
    padding-left: 50px;
    background-image: url('../images/lock-md-ico.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 26px 26px;
}
.form-control::-webkit-input-placeholder { /* Edge */
    color: #333333;
}
.form-control:-ms-input-placeholder { /* Internet Explorer */
    color: #333333;
}
.form-control::placeholder {
    color: #333333;
}
.form-control:focus {
    border-color: #99d4d3;
    box-shadow: 0 0 0 0.25rem rgb(153 212 211 / 25%);
}

.social-round-btn:hover{
    opacity: 0.75;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(74 178 176 / 25%);
}
.btn-success {
    color: #fff;
    background-color: #6BB885;
    border-color: #6BB885;
    font-family: 'Myriad', 'Roboto', sans-serif;;
}
.btn-success:hover {
    color: #fff;
    background-color: #66ab7d;
    border-color: #66ab7d;
}
.btn-outline-dark{
    border-color: #1B4D89;
    color: #1B4D89;
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #1B4D89;
    border-color: #1B4D89;
}
.btn-outline-success {
    color: #21AABC;
    border-color: #21AABC;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #21AABC;
    border-color: #21AABC;
}
.btn.btn-outline-info{
    border-color:#0673AC;
    color:#333333;
    font-weight: lighter;
}
.btn-outline-info:hover {
    color: #fff;
    background-color: #0673AC;
    border-color: #0673AC;
}
.section{
    font: unset;
}
.features-box{
    background-color: transparent;
    position: relative;
}
.features-box::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 79px;
    background-color: #99d4d3;
    bottom: 0;
    z-index: -1;
}
.sp-buttons {
    margin-top: -35px;
}
.sp-button{
    border: none;
    box-shadow: inset 0 0 2px #1B4D89;
}
.sp-selected-button{
    background-color: #1B4D89;
}
.owl-carousel .owl-item img.img-fluid{width:auto;display: unset;}
.owl-prev span,.owl-next span{
    display: none;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    width: 30px;
    height: 42px;
    background: url('../images/slider-left-arow.svg');
    background-size: 17px 23px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0;
}
.news-slider.owl-carousel .owl-nav button.owl-prev, .news-slider.owl-carousel .owl-nav button.owl-next {
    width: 42px;
    height: 42px;
    background: url(../images/arrow-l.png);
}
.news-slider.owl-carousel .owl-nav button.owl-prev {
    left: -50px;
}
.owl-carousel .owl-nav button.owl-next {
    right: -70px;
}
.owl-carousel .owl-nav button.owl-next{
    right: -70px;
    position: absolute;
    transform: rotateZ(180deg);
}
.news-slider.owl-carousel .owl-nav button.owl-next {
    right: -30px;
}
.owl-carousel .owl-nav button.owl-prev{
    left: -100px;
    position: absolute;
}
.owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover{
    background-color:transparent;
    background-size: 17px 23px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.news-slider.owl-theme .owl-nav {
    margin-top: -21px;}
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
    background-size: contain;
}
.owl-theme .owl-dots{padding-top: 20px;}
.owl-theme .owl-dots .owl-dot span {margin: 4px;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #1B4D89;
}
.owl-theme .owl-dots .owl-dot span{
    box-shadow: inset 0 0 2px #1B4D89;
    background:#fff;
}
.news-slider.owl-theme .owl-nav .disabled {
    opacity: 0;
}
.khoa-item{
    height: 135px;
}
.owl-carousel .owl-item img.hr-ver{
    right: -2px;
    top: 50%;
    height: 150px;
    width: 1px;
    margin-top: -75px;
}
.botton-rounded-haft{
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    background-color:#fff;
    position: absolute;
    top:-1px;
    left: 0;
    border-radius: 0 0 .3rem .3rem;
}
.section a.un-format{text-decoration: none;color: #4D4D4D;}
@-webkit-keyframes wave {
    from {
        -webkit-background-position-x: 0, 0, 0,0;
    }
    to {
        -webkit-background-position-x: 3156px, 2102px, 1052px,0;
    }
}
@keyframes wave {
    from {
        background-position-x: 0, 0, 0,0;
    }
    to {
        background-position-x: 3156px, 2102px, 1052px,0;
    }
}
@-webkit-keyframes ping {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      opacity: 0.7;
    }
    100% {
      -webkit-transform: scale(1.7);
              transform: scale(1.7);
      opacity: 0;
    }
  }
  @keyframes ping {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      opacity: 0.7;
    }
    100% {
      -webkit-transform: scale(1.7);
              transform: scale(1.7);
      opacity: 0;
    }
  }
.wave-box{
    background-image: url(../images/wave-1.svg),url(../images/wave-2.svg),url(../images/wave-3.svg),url(../images/wave-bg.svg);
    background-repeat: repeat-x,repeat-x,repeat-x ;
    height: 155px;
    background-size: 2103.5px 135.5px,2099.5px 144.5px,2103.5px 143.5px,120.5px 155.5px;
    background-position-y: 15px,0,11px,0;
    -webkit-animation: wave 10s linear infinite;
    animation: wave 10s linear infinite;
}
.input-group.input-group-search{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 4px;
}
.avartar-icon{
    height: 44px;
    width: 44px;
}
.avartar-icon.border-light-blue{
    height: 48px;
    width: 48px;
}
.avartar-icon.border-light-blue>img{
    border:2px solid #99D4D3;
    border-radius: 42px;
    background-color: #99D4D3;
}

.input-group.input-group-search select.form-select{
    width: 170px;
    flex: unset;
    border: none;
    border-right: 1px solid black;
    margin-right: 1px;
    margin-bottom: 3px;
    margin-top: 3px;
}
footer{
    background-color: #1b4d8a;
    margin-top: 2rem;
}
footer h3{
    font-weight: 700;
    font-size: 16px;
}
footer .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}
.icon-left{
    padding-left: 52px;
    background-image: url('../images/mail-md-w-ico.png');
    background-repeat: no-repeat;
    background-position: 0px center;
}
.support-bar{
    bottom: 110px;
    right: 20px;
    width: 60px;
    transition: all ease 0.25s;
    z-index: 9;
}
.support-bar a,.support-bar #totop{
    position: relative;
    transition: all ease 0.25s;
}
.support-bar a:hover,.support-bar #totop:hover{transform: scale(1.2);}
.support-bar a.phone-circle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #266bbe8a;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-animation: ping 2s ease-in-out infinite;
    animation: ping 2s ease-in-out infinite;
}
.nav-pills .nav-link {
    background: #eef3f3;
    color: #000000;
    border-radius: 0;
    font-size: 24px;
    padding-left: 20px;
	padding-right: 20px;
    cursor: pointer;
}
.nav.nav-pills{
    background: #eef3f3;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ffffff;
    color: #1C508A;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg:#F3F6F9;
    color: var(--bs-table-striped-color);
}
.table-hover>tbody>tr:hover {
    --bs-table-accent-bg: #e9eff5;
    color: var(--bs-table-hover-color);
}
table.table.table-striped.table-hover{
	display: block;
}
table.table.table-striped.table-hover>tbody{
	display: block;
}
table.table.table-striped.table-hover>thead {
    display: none;
}
table.table.table-striped.table-hover>tbody>tr{
	display: flex;
    flex-direction: column;
    width: 100%;
	padding-top: 10px;
    padding-bottom: 10px;
}
table.table-striped.table-hover tr > td{
	width: 100%;
	border-bottom: none;
	text-align: center;
}
#downloadModal{
    padding-top: 58px;
}
.pagination-wrap{
    border-top:1px solid #0673AC;
}
.pagination-wrap .pagination{
    margin-top: -15px;
}
.doctor-item{
    height: 100%;
    display: block;
    text-decoration: none;
}
.doctor-item p{
    color: #000;
}
.doctor-item>.bg-white{
    height: calc(100% - 62px);
}
.page-link{
    color: #1B4D89;
    border-color:#0673AC;
    border-radius:5px;
    padding: 0.1rem 0.5rem;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #1B4D89;
    border-color: #1B4D89;
}
.page-link:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #1B4D89;
    border-color: #1B4D89;
    }
.page-item:not(:first-child) .page-link {
    margin-left: 15px;
    }
footer label.form-label{
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}
footer .form-control{
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    padding: 0;
    color: #fff;
    border-bottom-color: #fff;
}
.btn-close {
    background: transparent url('../images/close.svg') center/1em auto no-repeat;
}
#downloadModal .modal-header{
    background-image: url('../images/dowload-modal-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    background-color: rgb(83, 151, 212);
}
#downloadModal .btn-close{
    color:#fff;
    opacity: 1;
}
#downloadModal .modal-content {
    border: 0 solid rgba(0,0,0,.2);
    border-radius: 0;
    outline: 0;
}
.zalo-chat-widget{
  right: 20px!important;
}
footer .form-control::placeholder{color: #fff;}
footer .form-control-wrap{border-bottom: 1px solid #fff;}
footer a:hover{
    opacity: 0.75;
}
footer .form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    border-bottom-color: #fff;
}
