.partner-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
}
.partner-listing__cell {
  width: 25%;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .partner-listing__cell {
    width: 33.33%;
  }
}
@media (max-width: 574px) {
  .partner-listing__cell {
    width: 50%;
  }
}
.partner-listing__cell img {
  width: 100%;
}