@media (min-width: 992px){
	body{
		padding-top: 87px;
	}
	.navbar.main-navbar{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}
	table.table.table-striped.table-hover {
		display: table;
	}
	table.table.table-striped.table-hover>tbody{
		display: table-row-group
	}
	table.table.table-striped.table-hover>thead {
		display: table-header-group;
	}
	table.table.table-striped.table-hover>tbody>tr{
		display: table-row;
		flex-direction: unset;
		width: unset;
		padding-top: 0;
    	padding-bottom: 0;
	}
	table.table-striped.table-hover tr > td{
		display: table-cell;
		width: unset;
		border-bottom: inherit;
		text-align: left;
	}
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
	.rounded-start-big{
		border-bottom-left-radius: 1.25rem!important;
		border-top-left-radius: 1.25rem!important;
	}
	.rounded-end-big{
		border-bottom-right-radius: 1.25rem!important;
		border-top-right-radius: 1.25rem!important;
	}
	footer{
		margin-top: 1rem;
	}
	.top-bar{background-color: transparent;}
	.nav-pills .nav-link {
		font-size: 24px;
	}
}
@media (min-width: 1200px){
	.btn-group-lg>.btn, .btn-lg {padding: 0.5rem 2rem;}
	.input-group.input-group-search select.form-select.select-nd{ width: 110px;}
	.input-group.input-group-search select.form-select.select-khoa{ width: 200px;}
	.side-navbar {
		display: none;
		width: unset;
	   height: unset;
	   position: relative;
		margin-left: 0;
		background-color:#fff;
		transition: none;
	}
	.nav-pills .nav-link {
		font-size: 30px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.ps-lg-7{
		padding-left: 300px!important;
	}
}
