.partner-listing {
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    &__cell {
        width: 25%;
        margin-bottom: 30px;
        @media(max-width: 767px) {
            width: 33.33%;
        }
        @media(max-width: 574px) {
            width: 50%;
        }
        img {
            width: 100%;
        }
    }
}